@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Josefin";
    src: url(../fonts/JosefinSans-VariableFont_wght.ttf) format(truetype);
}

$blue: #446381;
$purple: #826F8C;
$light-purple: #B56576;
$light-red: #EB8382;
$light-yellow: #EAAC8B;



html {
    scroll-behavior: smooth;
}

body {
    font-family: "Josefin";
    font-size: 18px;
    color: $blue;
}

section {
    display: flex;
    justify-content: center;
    background-color: #FFE6D7;
    padding: 8rem 0 6rem 0;
}


.case {
    padding: 0 20px;
    max-width: 1200px;
}

.subtitle {
    font-size: 23px;
    margin-bottom: 20px;
}

.title {
    font-size: clamp(2.125rem, 1.2849rem + 3.9535vw, 4.25rem);
    font-weight: 700;
    line-height: normal;
    color: $light-red;
    margin-left: -2px;
}

.text {
    color: $purple;
    margin-top: 20px;
    margin-bottom: 25px;
}

.button {
    display: inline-flex;
    padding: 12px 22px;
    border-radius: 30px;
    background: linear-gradient(to right, #4499d9, #4499d9, #7367be);
    background-position: right bottom;
    background-size: 220% auto;
    color: white;
    font-weight: 600;
    text-wrap: nowrap;
    transition: background-position .5s ease-in-out;

    &:hover,
    &:focus-within {
        background-position: left top;
    }

    &:active {
        opacity: 0.8;
    }
}

.list__item {
    position: relative;
    color: $blue;
    font-weight: 600;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0px;
        background: linear-gradient(to right, #4499d9, #7367be);
        transition: width 0.3s ease-in-out;
    }

    &:hover::after,
    &:focus-within::after {
        width: 100%;
    }
}

.button_burger {
    width: 45px;
    height: 25px;
    position: relative;

    &:hover {
        &::before, &::after, span {
            background: $blue;
        }
    }
}

.burger-line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: $light-purple;
    transition: background 0.2s ease-in-out;
}

.burger-line:nth-child(1) {
    top: 0;
}

.burger-line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.burger-line:nth-child(3) {
    bottom: 0;
}

.x-img {
    position: absolute;
    left: 45%;
    bottom: -20%;
    animation: 8s linear infinite rotating;
}

.joy {
    opacity: 0;
    animation: 1s 1.2s ease-in-out joy forwards;
}

.boy {
    animation: 0.9s 0.5s ease-in-out boy both;
}

#about {
    background-image: url(../image/about/bg-men.png);
    background-position: top 0 right 0, center;
    background-size: 40%, cover;
    background-repeat: no-repeat;
}

.tv, .gamepad {
    animation: 4s linear infinite flying;
}

.about__text {
    background-image: url(../image/about/bg-vr.png);
    background-position: bottom 0 right 50%, center;
    background-size: 75%, cover;
    background-repeat: no-repeat;
}

.gear {
    animation: 8s linear infinite rotating;
}

.prices__card {
    max-width: 360px;
    width: 100%;
    border-radius: 25px;
    padding: clamp(20px, 3vw, 45px);
    background: #FBDACF;

    &:nth-child(2) {
        background: url(../image/prices/prices_standard.png) center / cover;
        background-position: left 0 bottom 0;
        color: #fff;

        .card__pluses .card__plus::before {
            background: url(../image/prices/plus-arrow-light.svg) center / cover;
        }
    }

    h3 {
        font-size: 32px;
        font-weight: bold;
    }
}

.card__value {
    font-weight: bold;
    color: $light-red;
    line-height: normal;
}

.card__valute {
    font-size: 27px;
}

.card__price {
    font-size: clamp(32px, 3.8vw, 50px);
}

.card__pluses {
    margin-bottom: 50px;
}

.card__plus {
    margin-bottom: 20px;
    padding-left: 25px;
    position: relative;
    display: flex;
    align-items: center;

    &::before {
        content: '';
        background: url(../image/prices/plus-arrow.svg) center / cover;
        position: absolute;
        left: 0;
        top: 25%;
        width: 13px;
        height: 10px;
    }
}

footer {
    background-color: #FFE6D7;
}

.footer-link {
    background-color: #FCD8CB;
    min-width: 40px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s ease-in-out;

    path {
        transition: fill .3s ease-in-out;
    }

    &:hover {
        background-color: $blue;

        path {
            fill: #fff;
        }
    }
}



@keyframes rotating {
    0% {
        rotate: 0;
    }

    100% {
        rotate: 360deg;
    }
}

@keyframes joy {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 100%;
    }
}

@keyframes boy {
    0% {
        opacity: 0;
        top: 100px;
    }

    100% {
        opacity: 100%;
        top: 0;
    }
}

@keyframes flying {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: translateY(-5%);
    }
}