@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Josefin";
  src: url(../fonts/JosefinSans-VariableFont_wght.ttf) format(truetype);
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Josefin";
  font-size: 18px;
  color: #446381;
  overflow-x: hidden;
}

section {
  display: flex;
  justify-content: center;
  background-color: #ffe6d7;
  padding: 8rem 0 6rem 0;
}

.case {
  padding: 0 20px;
  max-width: 1200px;
}

.subtitle {
  font-size: 23px;
  margin-bottom: 20px;
}

.title {
  font-size: clamp(2.125rem, 1.2849rem + 3.9535vw, 4.25rem);
  font-weight: 700;
  line-height: normal;
  color: #eb8382;
  margin-left: -2px;
}

.text {
  color: #826f8c;
  margin-top: 20px;
  margin-bottom: 25px;
}

.button {
  display: inline-flex;
  padding: 12px 22px;
  border-radius: 30px;
  background: linear-gradient(to right, #4499d9, #4499d9, #7367be);
  background-position: right bottom;
  background-size: 220% auto;
  color: white;
  font-weight: 600;
  text-wrap: nowrap;
  transition: background-position 0.5s ease-in-out;
}
.button:hover, .button:focus-within {
  background-position: left top;
}
.button:active {
  opacity: 0.8;
}

.nav {
  gap: 50px;
}

.nav__list {
  display: flex;
  gap: 45px;
}

.list__item {
  position: relative;
  color: #446381;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
}
.list__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2.5px;
  width: 0px;
  background: linear-gradient(to right, #4499d9, #7367be);
  transition: width 0.3s ease-in-out;
}
.list__item:hover::after, .list__item:focus-within::after {
  width: 100%;
}

.button_burger {
  width: 45px;
  height: 25px;
  position: relative;
}
.button_burger:hover::before, .button_burger:hover::after,
.button_burger:hover span {
  background: #446381;
}

.burger-line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #b56576;
  transition: background 0.2s ease-in-out, top 0.4s ease-in-out, bottom 0.4s ease-in-out, transform 0.4s ease-in-out;
}
.burger-line:nth-child(1) {
  top: 0;
}
.burger-line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.burger-line:nth-child(3) {
  bottom: 0;
}

.burger_active .burger-line:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
.burger_active .burger-line:nth-child(2) {
  transform: scale(0);
}
.burger_active .burger-line:nth-child(3) {
  bottom: 50%;
  transform: rotate(-45deg);
}

.x-img {
  position: absolute;
  left: 45%;
  bottom: -20%;
  animation: 8s linear infinite rotating;
}

.joy {
  opacity: 0;
  animation: 1s 1.2s ease-in-out joy forwards;
}

.boy {
  animation: 0.9s 0.5s ease-in-out boy both;
}

#about {
  background-image: url(../image/about/bg-men.png);
  background-position: top 0 right 0, center;
  background-size: 40%, cover;
  background-repeat: no-repeat;
}

.tv,
.gamepad {
  animation: 4s linear infinite flying;
}

.about__text {
  background-image: url(../image/about/bg-vr.png);
  background-position: bottom 0 right 50%, center;
  background-size: 75%, cover;
  background-repeat: no-repeat;
}

.gear {
  animation: 8s linear infinite rotating;
}

.prices__card {
  max-width: 360px;
  width: 100%;
  border-radius: 25px;
  padding: clamp(20px, 3vw, 45px);
  background: #fbdacf;
}
.prices__card:nth-child(2) {
  background: url(../image/prices/prices_standard.png) center/cover;
  background-position: left 0 bottom 0;
  color: #fff;
}
.prices__card:nth-child(2) .card__pluses .card__plus::before {
  background: url(../image/prices/plus-arrow-light.svg) center/cover;
}
.prices__card h3 {
  font-size: 32px;
  font-weight: bold;
}

.card__value {
  font-weight: bold;
  color: #eb8382;
  line-height: normal;
}

.card__valute {
  font-size: 27px;
}

.card__price {
  font-size: clamp(32px, 3.8vw, 50px);
}

.card__pluses {
  margin-bottom: 50px;
}

.card__plus {
  margin-bottom: 20px;
  padding-left: 25px;
  position: relative;
  display: flex;
  align-items: center;
}
.card__plus::before {
  content: "";
  background: url(../image/prices/plus-arrow.svg) center/cover;
  position: absolute;
  left: 0;
  top: 25%;
  width: 13px;
  height: 10px;
}

footer {
  background-color: #ffe6d7;
}

.footer-link {
  background-color: #fcd8cb;
  min-width: 40px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}
.footer-link path {
  transition: fill 0.3s ease-in-out;
}
.footer-link:hover {
  background-color: #446381;
}
.footer-link:hover path {
  fill: #fff;
}

@media (max-width: 1023.98px) {
  .lock-screen {
    overflow: hidden;
    padding-right: 17px;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-pack: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    flex-direction: column;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 50vw;
    min-height: 100vh;
    background-color: #fff;
    transform: translateX(calc(100% + 6vw));
    transition: 0.85s transform ease-in-out, 0.85s border-radius ease-in-out;
  }
  .nav_active {
    border-radius: 0;
    transform: translate(0);
  }
  .nav__list {
    flex-direction: column;
    gap: 25px;
  }
  .list__item {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .nav {
    width: 100%;
  }
}
@keyframes rotating {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes joy {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 100%;
  }
}
@keyframes boy {
  0% {
    opacity: 0;
    top: 100px;
  }
  100% {
    opacity: 100%;
    top: 0;
  }
}
@keyframes flying {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: translateY(-5%);
  }
}/*# sourceMappingURL=styles.css.map */